%h3.h6.fw-bold.mb-3 #{branch.company.name}について
%ul.list-unstyled
  %li 企業名：#{branch.company.name}
  %li 郵便番号：#{branch.post_number}
  %li 住所：#{branch.city.prefecture.name}#{branch.city.name}#{branch.address}
  %li 電話番号：#{branch.phone}
  %li FAX：#{branch.fax_number}
  %li 営業時間：#{branch.business_hours}
  %li 定休日：#{branch.regular_holiday}
