- content_for(:breadcrumbs) do
  = render 'application/breadcrumbs', args: { branch: @branch }
- content_for(:title, "#{@branch.company.name} #{@branch.name}")

- if @branch.sale_reviews.empty?
  - content_for(:noindex, true)

.branch-wrapper
  %h1.text-center #{@branch.company.name} #{@branch.name}
  .row.mt-5.pb-5
    .col-6
      %h2.h3 #{@branch.catchphrase}
      %div.text-muted #{@branch.introduction}
    
    .col-1
    
    .col-4.d-flex.justify-content-end
      %img.img-fluid{ alt: "ロゴ画像", src: "#{@branch.logo_url}" }/

  .row.mt-5.pb-5
    .col.text-center
      .w-75.h-75.border.border-5.d-flex.align-items-center.justify-content-center
        グラフ
      %p.w-75.d-flex.justify-content-center
        売却スコア
        .average-sale-score #{number_with_precision(@branch.average_sale_score, precision: 1)}

    .col
      = render 'branches/description', branch: @branch

  .row.mt-5
    .mb-3.fw-bold #{@branch.company.name}で売却したひとの不動産会社についての口コミ（平均評価★#{@branch.average_service_satisfaction}）
    
    - @sale_reviews.each do |review|
      = link_to sale_review_path(review), class: "review-card" do 
        .card.w-75.mb-3
          .card-body
            .card-title #{review.title}：★#{review.service_satisfaction}
            .card-text.mt-2 #{review.service_satisfaction_reason}
            .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 #{format_price review.final_sale_price}（#{review.city.prefecture.name}#{review.city.name}・#{year_month_description(review.sale_period)}に売却）


  %div=paginate @sale_reviews
  .d-flex.justify-content-center
    = link_to new_branch_assessment_path(@branch), class: "btn btn-blue text-center w-auto btn--link" do
      査定依頼をする
