- content_for(:breadcrumbs) do
  = render 'application/breadcrumbs', args: { city: @branch.city, branch: @branch }
- content_for(:title, @branch.company_branch_name)
- content_for(:description, "#{@branch.company_branch_name}の査定依頼や売却申し込みをした方々の率直な声をご覧いただけるページです。信頼性の高い不動産会社を選ぶための貴重な情報源として、#{@branch.company_branch_name}の評価や口コミをご確認ください。過去の取引経験から得られるリアルな意見が、安心して取引する際の参考になることでしょう。お客様の満足度や対応力、プロフェッショナリズムに関する評判など、様々な観点から#{@branch.company_branch_name}を評価している声をお届けします。")
- content_for(:meta_keywords, @branch.company_branch_name)

- if @branch.sale_reviews.empty?
  - content_for(:noindex, true)

.branch-wrapper.centered-content
  %h1.text-center= @branch.company_branch_name
  .row.mt-5.d-flex.justify-content-between
    .col
      %h2.h4.mb-3 #{@branch.catchphrase}
      %p.text-muted #{@branch.introduction}
    
    .col-3.d-flex.justify-content-end
      %img.img-fluid{ alt: "ロゴ画像", src: "#{@branch.logo_url}" }/

  .row.mt-5.pb-5
    - if @branch.sale_reviews.present?
      .col.text-center.position-relative.graphics
        - sale_score = number_with_precision(@branch.avg_satisfactions, precision: 1)
        .d-flex.align-items-center.justify-content-center.canvas-wrapper
          %canvas#branchRadarGraph{ data: { scores: @scores.to_json } }
          %p.position-absolute.score-point= sale_score
        %p.d-flex.justify-content-center.m-0
          %p.fw-bold.m-0 売却スコア
          %div= render 'branches/display_stars', sale_score: sale_score.to_i, range: @score_range
          .average-sale-score= sale_score

    .col.branch-info
      = render 'branches/description', branch: @branch

  .row.mt-5
    %h3.h6.mb-3.fw-bold #{@branch.company.name}で売却したひとの不動産会社についての口コミ（平均評価★#{@branch.avg_service_satisfaction}）
    
    - @sale_reviews.each do |review|
      = link_to sale_review_path(review), class: "link-card" do 
        .card.mb-3
          .card-body
            %h4.h6.fw-bold.card-title #{review.title}：★#{review.service_satisfaction}
            .card-text.mt-2 #{review.service_satisfaction_reason}
            .mt-3.text-body-tertiary.d-flex.justify-content-end 成約価格 #{format_price review.final_sale_price}（#{review.city.prefecture_city_name}・#{year_month_description(review.sale_period)}に売却）


  %div=paginate @sale_reviews 
  .row.pt-5.d-flex.justify-content-center
    = link_to new_branch_assessment_path(@branch), class: "btn btn-blue text-center w-auto btn--link" do
      査定依頼をする

%script{ src: "https://cdn.jsdelivr.net/npm/chart.js" }
