!!!
%html{:lang => "ja"}
  %head= render 'layouts/common_header'
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      .container
        = link_to 'ベテランすまい', root_path, class: 'navbar-brand'
    .container.page-content
      - if notice
        .alert.alert-info= notice
      - if alert
        .alert.alert-danger= alert
      -# = render 'application/breadcrumbs'
      = yield
