%h1.text-center
  = @sale_review.title

%ul.list-unstyled.property-info
  %li
    売却した不動産会社名 :
    = @sale_review.branch.company.name
    = @sale_review.branch.name
  %li
    住所 :
    = @sale_review.city.prefecture.name
    = @sale_review.city.name
  %li
    売却の理由 :
    = @sale_review.sale_reason_i18n
  %li
    売却経験 : 今回の売却が#{@sale_review.previous_experience_i18n}
