- content_for(:title, "査定依頼フォーム")

%h1.page_title.text-center
  査定依頼フォーム
= form_with(model: @assessment_user, url: branch_assessments_path, class: 'mt-5 mb-5') do |f|
  - if @assessment_user&.errors&.any?
    - @assessment_user.errors.full_messages.each do |msg|
      .text-danger=msg
  - if @assessment&.errors&.any?
    - @assessment.errors.full_messages.each do |msg|
      .text-danger=msg
  
  .row.mt-3
    .col-4.text-center
      お名前
    .col-4= f.text_field :last_name, class: 'form-control', placeholder: "田中"
    .col-4= f.text_field :first_name, class: 'form-control', placeholder: "太郎"
  
  .row.mt-3
    .col-4.text-center
      フリガナ
    .col-4= f.text_field :last_name_kana, class: 'form-control', placeholder: "タナカ"
    .col-4= f.text_field :first_name_kana, class: 'form-control', placeholder: "タロウ"

  .row.mt-3
    .col-4.text-center= f.label :email, "メールアドレス"
    .col-8= f.text_field :email, class: 'form-control'

  .row.mt-3
    .col-4.text-center= f.label :tel, "電話番号"
    .col-8= f.text_field :tel, class: 'form-control'

  = f.fields_for :assessment, @assessment do |assessment_f|
    .row.mt-3
      .col-4.text-center 都道府県
      .col-4.text-center= collection_select :prefecture, :id, Prefecture.all, :id, :name, {}, class: 'form-select'
      .col-4.text-center= f.submit "市区町村を絞り込む", name: 'query_prefecture', class: "btn btn-secondary"

    .row.mt-3
      .col-4.text-center= assessment_f.label :city_id, "市区町村"
      .col-8.text-center= assessment_f.collection_select :city_id, @cities, :id, :name, {}, class: 'form-select'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_address, "物件住所（市区町村以下）"
      .col-8.text-center= assessment_f.text_field :property_address, class: 'form-control'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_type, "物件種別"
      .col-8.text-center= assessment_f.select :property_type, Assessment.property_types_i18n.invert, {}, class: 'form-select'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_exclusive_area, "専有面積"
      .col-8.text-center= assessment_f.number_field :property_exclusive_area, step: "0.001", class: 'form-control'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_land_area, "土地面積"
      .col-8.text-center= assessment_f.number_field :property_land_area, step: "0.001", class: 'form-control'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_building_area, "建物面積"
      .col-8.text-center= assessment_f.number_field :property_building_area, step: "0.001",class: 'form-control'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_building_area_unit, "建物面積単位"
      .col-8.text-center= assessment_f.select :property_building_area_unit, Assessment.property_building_area_units_i18n.invert, {}, class: 'form-select'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_floor_area, "延床面積"
      .col-8.text-center= assessment_f.number_field :property_floor_area, step: "0.001", class: 'form-control'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_room_plan, "間取り"
      .col-8.text-center= assessment_f.select :property_room_plan, Assessment.property_room_plans_i18n.invert, {}, class: 'form-select'

    .row.mt-3
      .col-4.text-center= assessment_f.label :property_constructed_year, "竣工年"
      .col-8.text-center= assessment_f.number_field :property_constructed_year, class: 'form-control'
    
    .mt-4.d-flex.justify-content-center
      = f.submit "査定依頼する", name: 'request_assessment', class: "btn btn-primary btn-lg btn--link"
