- content_for(:breadcrumbs) do
  = render 'application/breadcrumbs', args: { city: @city }
- content_for(:title, "#{@city.prefecture_city_name}の不動産会社")
- content_for(:description, "#{@city.prefecture_city_name}の不動産会社一覧をご覧いただけるページです。#{@city.prefecture_city_name}にはどんな不動産会社の情報や評判・口コミをご覧いただけます。複数の不動産会社の口コミを比較することで、あなたの物件をまかせにぴったりの不動産会社を選びましょう。")
- content_for(:meta_keywords, "#{@city.prefecture_city_name} 不動産会社")

%h1.text-center #{@city.prefecture.name} / #{@city.name}の不動産会社

.mt-5.branch-wrapper
  - @branches.each do |branch|
    = link_to branch_path(id: branch.id), class: "link-card" do
      .card.mb-3
        .card-body
          .row 
            .col-3
              = branch.company.name
              %div ★ #{number_with_precision(branch.avg_satisfactions, precision: 1)}
            %p.col-9x
              営業時間：#{branch.business_hours}
              %br
              定休日：#{branch.regular_holiday}
              %br
              住所：#{branch.address}
          .row
            .col-3 会社の決め手：
            .col-9
              - if branch.sale_reviews.any?
                %p.truncate-text-at-line-3 #{branch.sale_reviews.order(created_at: :desc).first.decision_factor}
  %div= paginate @branches

.prefecture.mb-5
  = render 'prefectures/cities', prefecture: @city.prefecture
